*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    margin: 100%;
}

.contenitore {
    width: 100%;
    min-height: 300px;
    background-color: aqua;

}

.barra-nav{
    background-color: lightblue;
    height: 40px;
    display: flex;
    justify-content: center;

}
ul {
    display: flex;
    margin: 0 .5rem;
    list-style-type: none;
}
.blocco1 {
    display: flex;
    background-color: fuchsia;

}